* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

.wishes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
}

.bible_verse {
    width: 80%;
    font-weight: bold;
    margin: 5px;
    background: #ffff;
    padding: 20px;
}

.video_lion {
    position: absolute;
    background: rgba(255, 0, 0, 0.5);
    top: 50%;
    right: 0;
    width: 80%; /* Adjust width for responsiveness */
    height: auto;
    transform: translate(0, -50%);
}

.logo_lion {
    width: 80px; /* Adjust width for responsiveness */
    height: 80px; /* Adjust height for responsiveness */
}

.person_info {
    display: flex;
    text-align: center;
    justify-content: center;
}

.bible_words {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    border-radius: 5px;
    margin: 5px;
    
}
.bible_word_image {
object-fit: fill;

width: 200px;
height: auto;
margin: 5px;
}
.container {
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    text-align: center;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  @media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .wishes {
        margin-top: 30%;
        width: 90%;
        margin: 10px auto;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        max-height: 200px; 
    }

    .bible_words {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .container {
        top: 150%;
        color: white;
    }
}

