* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

.wishes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; /* Added for better responsiveness */
}

.bible_verse {
    width: 100%; /* Updated width for better responsiveness */
    font-weight: bold;
    margin: 5px;
    background: #ffff;
    padding: 20px;
}

.logo_lion {
    width: 60px; /* Adjusted width for responsiveness */
    height: 60px; /* Adjusted height for responsiveness */
}

.person_info {
    display: flex;
    flex-direction: column; /* Changed to column layout for better responsiveness */
    text-align: center;
    justify-content: center;
}

.bible_words {
    display: flex;
    flex-direction: column; /* Changed to column layout for better responsiveness */
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    margin: 25px;
    width: 100%; /* Updated width for better responsiveness */
}

@media screen and (max-width: 768px) {
    .wishes, .bible_verse, .logo_lion, .person_info, .bible_words {
        width: 90%;
        margin: 10px auto;
    }

   
}
